.login {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-login {
  height: auto;
  max-width: 585px;
  padding: 155px 24px;
}

.wrapper-login .form-login {
  /* min-height: 580px; */
  margin-bottom: 0px;
  padding: 48px;
  border-radius: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #f0f0f0;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.06);
}

.wrapper-login .form-login .content-aut img {
  margin-bottom: 24px;
}

.wrapper-login .form-login .content-aut h1 {
  color: #131313;
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
}

.wrapper-login .form-login p {
  margin-bottom: 16px;
  color: #727272;
  text-decoration: none;
}

.wrapper-login .form-login .input-login input {
  margin-top: 20px;
  width: 100%;
  min-height: 54px;
  margin-bottom: 0px;
  padding: 16px 18px;
  border-style: solid;
  border-width: 1px;
  border-color: #f0f0f0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.06);
  -webkit-transition: box-shadow 300ms ease, color 300ms ease,
    border-color 300ms ease;
  transition: box-shadow 300ms ease, color 300ms ease, border-color 300ms ease;
  font-size: 16px;
  line-height: 18px;
}

.wrapper-login .form-login button {
  margin-top: 30px;
  width: 100%;
  background-color: #353535;
  -webkit-transform: translate3d(0px, -3px, 0.01px);
  transform: translate3d(0px, -3px, 0.01px);
  color: #fff;
  padding: 18px 28px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #131313;
  -webkit-transition: background-color 300ms ease, color 300ms ease,
    -webkit-transform 300ms ease;
  transition: background-color 300ms ease, color 300ms ease,
    -webkit-transform 300ms ease;
  transition: background-color 300ms ease, transform 300ms ease,
    color 300ms ease;
  transition: background-color 300ms ease, transform 300ms ease,
    color 300ms ease, -webkit-transform 300ms ease;
  color: #fff;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  transform-style: preserve-3d;
}
.wrapper-login .form-login p {
  margin-top: 10px;
}

.wrapper-login .form-login .forgot {
  cursor: pointer;
  font-size: 20px;
}

.wrapper-login .form-login .account {
  font-size: 20px;
}
.wrapper-login .form-login .account u {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .wrapper-login {
    padding: 60px 24px;
  }

  .wrapper-login .form-login {
    padding: 22px;
  }
}
